.bandPageDesign {
  height: 86vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow-y: auto;
  background: repeating-linear-gradient(
    to right,
    var(--pink-col),
    var(--pink-col) 0.5em,
    var(--white-col) 0.5em,
    var(--white-col) 1.3em
  );
}

.bandPageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.bandPageCompCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin-top: 1em;
}

.bandInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--blue-col);
  color: white;
  width: 36em;
  height: 24em;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 0.2;
  border-radius: 0.7em;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
}

.bandInfoContainer img {
  width: 15vw;
  border-radius: 1em;
  margin: 2em;
  border-style: solid 0.7;
}

.chatCont {
  margin-bottom: 4em;
}

.textBox {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.joinButton {
  height: 2.5em;
  width: 8em;
  border-style: hidden;
  border-radius: 0.3em;
  background-color: var(--calid-dark-col);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  transition: 150ms;
}

.joinButton:hover {
  transition: 150ms;
  color: black;
  background-color: var(--white-col);
  cursor: pointer;
}

.joinButtonInactive {
  height: 2.5em;
  width: 8em;
  border-style: hidden;
  border-radius: 0.3em;
  background-color: var(--calid-dark-col);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 150ms;
}

.joinButtonInactive:hover {
  transition: 150ms;
  color: black;
  background-color: crimson;
  cursor: pointer;
}

.fieldCompBands{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--yellow-col);
  color: white;
  width: 24em;
  height: 24em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.2;
  border-radius: 0.7em;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
}

.multiLoadCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
}

.loadTrackCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--pink-col);
  width: 44em;
  height: 4em;
  margin-top: 2em;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 0.2;
  border-radius: 0.7em;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
}

.joinChatCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--green-col);
  width: 80vw;
  height: 18em;
  margin: 4em;
  margin-top: 2em;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 0.2;
  border-radius: 0.7em;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
}
