.regDesign {
  height: 86vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: repeating-linear-gradient(
    to right,
    var(--green-col),
    var(--green-col) 0.5em,
    var(--white-col) 0.5em,
    var(--white-col) 1.3em
  );
}

.regContainer {
  height: 20em;
  width: 15em;
  background-color: var(--pink-d-col);
  display: flex;
  /* justify-content: ; */
  align-items: center;
  flex-direction: column;
  border-width: 0.3em;
  border-radius: 0.7em;
  border-style: solid;
  border-color: white;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
  transition: 150ms;
}

.regContainer:hover {
  box-shadow: var(--calid-dark-col) 1.8em 2.1em 0em 0em;
  transform: scale(1.1);
  transition: 150ms;
  border-width: 0.5em;
}

.inputReg {
  background-color: white;
  border-width: 0.1em;
  border-radius: 0em;
  height: 2em;
  width: 12em;
  border-style: solid;
  border-color: black;
  margin: 0.3em;
}

.regButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 0.1em;
  border-radius: 0.7em;
  border-style: solid;
  margin: 1em;
  border-color: black;
  text-align: center;
  height: 3em;
  width: 5em;
  cursor: pointer;
  transition: 150ms;
}

.regButton:hover {
  transform: scale(1.07);
  transition: 150ms;
}

.regButtonInactive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 0.1em;
  border-radius: 0.7em;
  border-style: solid;
  margin: 1em;
  color: rgb(127, 127, 127);
  border-color: rgb(127, 127, 127);
  text-align: center;
  height: 3em;
  width: 5em;
  cursor: pointer;
  transition: 150ms;
}
