.chatCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 0.2em solid var(--pink-col);
  border-radius: 0.3em;
  font-weight: lighter;
  width: 80vw;
  height: 20em;
  /* background-color: chartreuse; */
}

.messageContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 16em;
  max-height: 17em;
  width: 80vw;
  overflow-y: auto;
  /* background-color: blueviolet; */
}

.message {
  display: flex;
  align-items: center;
  margin: 0.5em;
  cursor: pointer;
  background-color: white;
}

.message img {
  width: 50px;
  margin-right: 0.5em;
  border-radius: 50%;
}

.message:hover {
  display: flex;
  align-items: center;
  margin: 0.5em;
  cursor: pointer;
  background-color:var(--calid-dark-col);
  color: white;
}

.userMessage {
  display: flex;
  flex-direction: column;
  /* background-color:yellow; */
}

.message .username {
  font-weight: bold;
  margin-right: 0.5em;
}

.txtMessage {
  word-break: break-all;
  /* word-wrap: break-word; */
}

.messageInput {
  width: 68vw;
  height: 3em;
  border-radius: 1em;
  margin-right: 0.5em;
}

.buttonInput {
  margin-bottom: 1em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonInput button {
  text-align: center;
  width: 10vw;
  background-color: white;
  border-radius: 1em;
  border-width: 0.1;
  font-weight: lighter;
}
