.bandCard {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 2em;
  align-items: center;
  background-color: var(--blue-col);
  border-color: var(--white-col);
  color: white;
  border-width: 0.3em;
  border-radius: 0.7em;
  border-style: solid;
  width: 20em;
  height: 20em;
  text-align: center;
  box-shadow: var(--calid-dark-col) 1em 1.1em 0em 0em;
  transition: 150ms
}

.bandCard:hover {
  transform: scale(1.05);
  box-shadow: var(--calid-dark-col) 1.8em 2.1em 0em 0em;
  transition: 150ms
}

.imgBandCard {
  border-width: 0.2;
  border-style: solid;
  border-radius: 50%;
}

.buttonSeeBand {
  height: 2.5em;
  width: 8em;
  border-style: hidden;
  border-radius: 0.3em;
  background-color: var(--calid-dark-col);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 150ms;
}

.buttonSeeBand:hover {
  transition: 150ms;
  color: black;
  background-color: var(--white-col);
  cursor: pointer;
}
