.profileDesign {
  height: 86vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow-y: auto;
  background: repeating-linear-gradient(
    to right,
    var(--green-col),
    var(--green-col) 0.5em,
    var(--white-col) 0.5em,
    var(--white-col) 1.3em
  );
}

.profileContainer {
  height: fit-content;
  width: fit-content;
  background-color: var(--pink-col);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-width: 0.3em;
  border-radius: 0.7em;
  border-style: solid;
  border-color: white;
  box-shadow: var(--calid-dark-col) 0.8em 1.1em 0em 0em;
  transition: 150ms;
}

.profileInfo {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.profileContainer img {
  border-width: 0.3em;
  border-radius: 0.7em;
  border-style: solid;
  border-color: white;
  width: 20vw;
  margin: 1em;
}

.profileContainer:hover {
  box-shadow: var(--calid-dark-col) 1.8em 2.1em 0em 0em;
  transform: scale(1.1);
  transition: 150ms;
  border-width: 0.5em;
}

/* .inputProfile {
  background-color: white;
  border-width: 0.1em;
  border-radius: 0em;
  height: 2em;
  width: 12em;
  border-style: solid;
  border-color: black;
  margin: 0.3em;
}

.inputProfileError {
  background-color: white;
  border-width: 0.1em;
  border-radius: 0em;
  height: 2em;
  width: 12em;
  border-style: solid;
  border-color: rgb(255, 0, 0);
  margin: 0.3em;
} */

.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-width: 0.1em;
  border-radius: 0.7em;
  border-style: solid;
  margin: 1em;
  border-color: black;
  text-align: center;
  height: 3em;
  width: 5em;
  cursor: pointer;
  transition: 150ms;
}

.profileButton:hover {
  transform: scale(1.07);
  transition: 150ms;
}

.editDesign{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 0, 0);
  border-width: 0.1em;
  border-radius: 0.7em;
  border-style: solid;
  margin: 1em;
  border-color: black;
  text-align: center;
  height: 3em;
  width: 5em;
  cursor: pointer;
  transition: 150ms;
}


.inputDesign {
  height: 2em;
  width: 15em;

  border-radius: 0.3em;
  border: 0.3 solid rgb(0, 0, 0);

  margin-bottom: 2em;
}

.inputDesignError {
  border: 0.2em red solid;
}
